.App {
  min-height: 100vh;
  background-color: #2a2668;
}

.App-logo {
  height: 20vmin;
  align-content: left;
  justify-content: flex-start;
}

.App-header {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Next-pun {
  align-self: flex-end;
}

.App-link {
  color: #09d3ac;
}
